<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-nav justify-content-end ml-auto w-100">
    <button class="btn btn-outline-warning my-2 my-sm-0" (click)="logout()">Logout <span class="sr-only">(current)</span></button>
  </div>
</nav>
<div class="container">
  <div class="row mt-5">
    <div class="col-sm col-sm-3 left">
      <ngb-datepicker [(ngModel)]="date" (dateSelect)="fetchFoods()" style="background-color: white;"></ngb-datepicker>
    </div>
    <app-search-modal (messageEvent)="addFood($event)"></app-search-modal>
    <div class="col-sm right">
      <ul class="list-group" *ngIf="foods">
        <li *ngFor="let food of foods; index as i" class="list-group-item"> {{ food }} - {{ quantities[i] }}g</li>
      </ul>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <ul class="list-group">
        <li *ngFor="let nutrient of nutrients" class="list-group-item"> {{ nutrient[0] }}: {{ nutrient[1].value | number: "1.2-2" }}{{ nutrient[1].unit }} <div class="bar" id={{nutrient[0]}}></div></li>
      </ul>
      {{ applyProgress() }}
    </div>
  </div>
</div>