<div class="row">
  <div class="col-2 offset-5 mt-5">
    <h3>Login</h3>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="loginUSername">Username</label>
        <input type="text" name="username" required ngModel #username="ngModel" class="form-control" id="loginUSername" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input type="password" name="password" ngModel required #password="ngModel" class="form-control" id="loginPassword" placeholder="Enter password">
      </div>
      <button type="submit" [disabled]="!f.valid" class="btn btn-primary" >Login</button>
      <a routerLink="../register" class="btn btn-link">Register</a>
    </form>
  </div>
</div>