<div class="control">
  <div class="form-style-7">
    <ul>
      <li>
        <label for="name">Food</label>
        <input [(ngModel)]="name" type="text" />
        <span>Enter the food name here</span>
      </li>
      <li>
        <label for="url">URL</label>
        <input [(ngModel)]="url" type="text" />
        <span>The url of the food in whf</span>
      </li>
      <input (click)="onFood()" type="submit" value="Add" style="margin-left: 12.4em" />
      <li>
        <label for="food">Intake</label>
        <input [(ngModel)]="eaten" type="text" />
        <span>Log your daily intake</span>
      </li>
      <li>
        <label for="mass">Quantity</label>
        <input [(ngModel)]="quantity" type="text" />
        <span>Log the quantity</span>
      </li>
      <div>
        <input (click)="onIntake()" type="submit" value="Intake" style="margin-left: 12em" />
      </div>
      <input
        (click)="onRefresh()"
        type="submit"
        value="Refresh"
        style="margin-left: 11.6em; margin-top: 1em"
      />
      <input
        (click)="onSuggest()"
        type="submit"
        value="Suggest"
        style="margin-left: 11.6em; margin-top: 1em"
      />
    </ul>
  </div>
</div>
<div class="table">
  <div class="nutrition">
    <div>
      <div *ngIf="foods" id="foods">
        {{ foods }}
      </div>
      <div *ngIf="suggestions" id="foods">
        <li *ngFor="let item of suggestions">
          {{ item }}
        </li>
      </div>
      <div *ngFor="let item of table" class="progress-bar">
        <div class="bar" id="{{ item.nutrient }}"></div>
        <div id="text">{{ item.nutrient }}, {{ item.content.dv | number: "1.2-2" }}</div>
      </div>
      {{ applyProgress() }}
    </div>
  </div>
</div>
